option_settings:
  - option_name: DB_NAME
    value: DB_NAME
  - option_name: DB_USER
    value: DB_USER
  - option_name: DB_PASSWORD
    value: DB_PASSWORD
  - option_name: DB_HOST
    value: DB_HOST
  - option_name: DBI_AWS_ACCESS_KEY_ID
    value: DBI_AWS_ACCESS_KEY_ID
  - option_name: DBI_AWS_SECRET_ACCESS_KEY
    value: DBI_AWS_SECRET_ACCESS_KEY
  - option_name: WP_DEBUG
    value: 0
  - option_name: WP_TRACY_ENABLE_MODE
    value: 0