.home-page {
  .content {
    position: relative;
    overflow: hidden;
    .background-image{
      position: absolute;
      bottom: -40%;
      right: 0px;
      width: 100%;
      height: auto;
    }
    .main-gradient;
    .white;
    text-align: center;
    padding-bottom: 80px;
    header {
      padding: 20px 0;
      .logo {
        color: #fff;
        font-size: 45px;
      }
      .text-right {
        a {
          display: inline-block;
          font-size: 40px;
          margin-left: 10px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    h1 {
      padding-top: 40px;
      padding-bottom: 20px;
      font-size: 40px;
      max-width: 1000px;
      margin: 0 auto;
      line-height: 1.4;
    }
    .mockup-img {
      display: block;
      margin: 20px auto;
      max-width: 100%;
    }
    .right-text {
      padding-top: 70px;
    }
    p {
      font-size: 16px;
      line-height: 1.4;
      max-width: 300px;
      margin: 0 auto;
    }
    .btn {
      width: 100%;
      button {
        min-width: 100%;
        width: 100%;
        span {
          color: fade(#fff, 57);
          font-size: 18px;
          display: block;
        }
      }
    }
    input[type="text"], input[type="email"], textarea {
      padding: 15px 20px 15px 60px;
      border-radius: 33px;
      font-family: 'ProximaNova-semibold', Arial;
      display: inline-block;
      font-size: 16px;
      width: 100%;
      color: #000000;
      margin-bottom: 20px;
      outline: none;
      background: url('../img/email.svg') no-repeat 25px center #ffffff;
      background-size: 20px;
      border: 2px solid #fff;
      &:focus {
        border-color: @purple;
      }
    }
    .counter {
      margin: 10px 0;
      span {
        margin: 0 6px;
        display: inline-block;
        background-color: #fff;
        font-family: 'ProximaNova-bold', Arial;
        font-size: 25px;
        color: @purple;
        padding: 10px 0;
        border-radius: 30px;
        width: 36px;
        box-shadow: 0 12px 12px rgba(0, 0, 0, 0.23);
      }
    }

    @media (max-width: 1199px) {
      h1 {
        font-size: 38px;
      }
    }
    @media (max-width: 1023px) {
      padding-bottom: 40px;
      h1 {
        font-size: 28px;
        padding-top: 0;
        max-width: 700px;
      }

      .mockup-img {
        display: block;
        max-width: 100%;
        width: 400px;
        margin: 25% auto;
      }

      .right-text {
        padding-top: 0px;
      }

    }
    @media (max-width: 767px) {
      .background-image{
        display: none;
      }
      padding-bottom: 30px;
      h1 {
        font-size: 26px;
        padding-top: 0;
      }

      .mockup-img {
        display: block;
        max-width: 100%;
        width: 300px;
        margin: 0 auto;
      }

      .right-text {
        padding-top: 0px;
        max-width: 400px;
        margin: 0 auto;
      }
      .counter{
        margin-top: 0;
      }

    }
    @media (max-width: 479px) {
      padding-bottom: 20px;
      h1 {
        font-size: 20px;
        padding: 0;
      }
      header {
        padding: 10px 0;
        .logo {
          font-size: 35px;
        }
        .text-right{
          a{
            font-size: 30px;
          }
        }
      }
      .mockup-img {
        margin: 10px auto;
      }
    }
  }
}