// imports
@import 'font-proxima-nova';
@import 'icons';

// colors, mixins
@purple: #5718D0;
@blue: #17BDFF;
@gray: #95989A;
@white: #ffffff;

.purple {color: @purple;}
.blue {color: @blue;}
.gray {color: @gray;}
.white {color: @white;}
.bg-purple {background: @purple;}
.bg-blue {background: @blue;}
.bg-gray {background: @gray;}
.bg-white {background: @white;}
// gradients
.main-gradient {
  background: linear-gradient(135deg, #17BDFF 20%, #6F68F9 80%);
}
.grey-gradient {
  //#f8f8f8
  background: linear-gradient(180deg, #f8f8f8 20%, #ffffff 80%);
}

// typography
h1 {
  color: #ffffff;
  font-family: 'ProximaNova-semibold', Arial;
  max-width: 1000px;
  margin: 20px auto;
}
h2 {
  font-family: 'ProximaNova-bold', Arial;
  margin: 20px auto;
}
h3 {
  font-family: 'ProximaNova-semibold', Arial;
}
.text-center {
  text-align: center;
}
strong {
  font-family: 'ProximaNova-bold', Arial;
}

// form elements
input[type="text"], input[type="email"], textarea {
  padding: 15px 20px 15px 60px;
  border: 0;
  border-radius: 33px;
  font-family: 'ProximaNova-semibold', Arial;
  display: inline-block;
  font-size: 16px;
  min-width: 300px;
  color: #000000;
  margin-bottom: 20px;
}

div[class*="span-"] {
  & > input, & > textarea {
    width: 100%;
  }
}

textarea {
  min-height: 300px !important;
}

input[type="submit"] {
  padding: 10px;
  font-family: 'ProximaNova-semibold', Arial;
  display: inline-block;
  min-width: 300px;
  .main-gradient();
  color: #ffffff;
  border-radius: 60px;
  //border: 10px solid rgba(255, 255, 255, 0.5);
  border: 12px solid #9fc4f9;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.23);
}
.input-email {
  background: url('../img/email.svg') no-repeat 25px center #ffffff;
  background-size: 20px;
}
.input-name {
  background: url('../img/emoticon.svg') no-repeat 25px center #ffffff;
  background-size: 20px;
}

.input-message {
  background: url('../img/text.svg') no-repeat 25px 15px #ffffff;
  background-size: 20px;
}

.banner-wrapper {
  vertical-align: middle;

  & > div {
    padding: 51px 8%;
    display: inline-block;
  }

  p {
    color: #ffffff;
    font-weight: 600;
  }

  span[class*="icon-"] {
    color: #ffffff;
    font-size: 90px;
  }
}

.banner-fb {
  background: url('../img/fb.png') no-repeat;
  height: 192px;
}

.banner-insta {
  background: url('../img/insta.png') no-repeat;
  height: 192px;
}

html {
  height: 100%;
}

// general declarations, layout elements
body {
  font-family: 'ProximaNova-regular', Arial;
  font-size: 16px;
  height: 100%;
}

.top-section {
  .main-gradient;
  .white;
  text-align: center;
  min-height: 800px;
  &.full-page {
    height: 100%;
  }
  header {
    padding: 20px 0;
    .logo {
      font-size: 45px;
    }
    .facebook-logo {
      float: right;
      margin-right: 10px;
      span {font-size: 40px;}
    }
    .instagram-logo {
      float: right;
      span {font-size: 40px;}
    }
  }
  .sub-headline {
    margin: 0 auto;
    max-width: 690px;
    font-size: 18px;
    line-height: 1.25;
  }
}
.pg-section {
  padding: 40px 0;
}
.main-footer {
  background-color: #242f43;
  text-align: center;
  color: @gray;
  padding: 30px;
}

// unsorted
.mockup-img {
  display: block;
  margin: 0 auto;
  width: auto;
}
.bordered {
  input:not([type="submit"]), textarea {
    border: 2px solid #d3d3d3;
  }
}

.top-section {
 p {
   padding: 45px 0 0 0;
 }
}

// BETA LANDING PAGE
.section-2 {
  h2 {
    margin-bottom: 30px;
  }
  p {
    max-width: 980px;
    margin: 0 auto;
  }
}
.section-3 {
  .grey-gradient;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .section-3 .container {
    width: 800px;
  }

  .mockup-img {
    max-width: 660px;
  }
}

@media screen and (max-height: 600px) {
  .mockup-img {
    max-height: 300px;
  }
}

@media screen and (max-width: 380px) {

}