/*Fonts*/
/*PROXIMA NOVA*/
/*black typeface*/
@font-face {
  font-family: 'ProximaNova-black';
  src: url('../fonts/proxima-nova/black/ProximaNova-Black_1.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova/black/ProximaNova-Black_1?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova/black/ProximaNova-Black_1.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova/black/ProximaNova-Black_1.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova/black/ProximaNova-Black_1.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova/black/ProximaNova-Black_1.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/*bold typeface*/
@font-face {
  font-family: 'ProximaNova-bold';
  src: url('../fonts/proxima-nova/bold/ProximaNova-Bold_1.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova/bold/ProximaNova-Bold_1?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova/bold/ProximaNova-Bold_1.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova/bold/ProximaNova-Bold_1.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova/bold/ProximaNova-Bold_1.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova/bold/ProximaNova-Bold_1.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/*bold-italic typeface*/
@font-face {
  font-family: 'ProximaNova-bold-italic';
  src: url('../fonts/proxima-nova/bold-italic/ProximaNova-BoldIt_1.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova/bold-italic/ProximaNova-BoldIt_1?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova/bold-italic/ProximaNova-BoldIt_1.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova/bold-italic/ProximaNova-BoldIt_1.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova/bold-italic/ProximaNova-BoldIt_1.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova/bold-italic/ProximaNova-BoldIt_1.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/*extra-bold typeface*/
@font-face {
  font-family: 'ProximaNova-extra-bold';
  src: url('../fonts/proxima-nova/extra-bold/ProximaNova-Extrabold_0.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova/extra-bold/ProximaNova-Extrabold_0?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova/extra-bold/ProximaNova-Extrabold_0.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova/extra-bold/ProximaNova-Extrabold_0.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova/extra-bold/ProximaNova-Extrabold_0.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova/extra-bold/ProximaNova-Extrabold_0.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/*light typeface*/
@font-face {
  font-family: 'ProximaNova-light';
  src: url('../fonts/proxima-nova/light/ProximaNova-Light_0.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova/light/ProximaNova-Light_0?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova/light/ProximaNova-Light_0.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova/light/ProximaNova-Light_0.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova/light/ProximaNova-Light_0.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova/light/ProximaNova-Light_0.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/*light-italic typeface*/
@font-face {
  font-family: 'ProximaNova-light-italic';
  src: url('../fonts/proxima-nova/light-italic/ProximaNova-LightItalic_0.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova/light-italic/ProximaNova-LightItalic_0?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova/light-italic/ProximaNova-LightItalic_0.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova/light-italic/ProximaNova-LightItalic_0.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova/light-italic/ProximaNova-LightItalic_0.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova/light-italic/ProximaNova-LightItalic_0.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/*regular typeface*/
@font-face {
  font-family: 'ProximaNova-regular';
  src: url('../fonts/proxima-nova/regular/ProximaNova-Regular_0.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova/regular/ProximaNova-Regular_0?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova/regular/ProximaNova-Regular_0.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova/regular/ProximaNova-Regular_0.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova/regular/ProximaNova-Regular_0.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova/regular/ProximaNova-Regular_0.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/*regular-italic typeface*/
@font-face {
  font-family: 'ProximaNova-regular-italic';
  src: url('../fonts/proxima-nova/regular-italic/ProximaNova-RegularItalic_0.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova/regular-italic/ProximaNova-RegularItalic_0?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova/regular-italic/ProximaNova-RegularItalic_0.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova/regular-italic/ProximaNova-RegularItalic_0.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova/regular-italic/ProximaNova-RegularItalic_0.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova/regular-italic/ProximaNova-RegularItalic_0.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/*semibold typeface*/
@font-face {
  font-family: 'ProximaNova-semibold';
  src: url('../fonts/proxima-nova/semibold/ProximaNova-Semibold_0.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova/semibold/ProximaNova-Semibold_0?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova/semibold/ProximaNova-Semibold_0.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova/semibold/ProximaNova-Semibold_0.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova/semibold/ProximaNova-Semibold_0.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova/semibold/ProximaNova-Semibold_0.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/*semibold-italic typeface*/
@font-face {
  font-family: 'ProximaNova-semibold-italic';
  src: url('../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldItalic_0.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldItalic_0?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldItalic_0.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldItalic_0.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldItalic_0.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldItalic_0.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/*thin typeface*/
@font-face {
  font-family: 'ProximaNova-thin';
  src: url('../fonts/proxima-nova/thin/ProximaNova-Thin.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova/thin/ProximaNova-Thin?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova/thin/ProximaNova-Thin.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova/thin/ProximaNova-Thin.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova/thin/ProximaNova-Thin.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova/thin/ProximaNova-Thin.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/*thin-italic typeface*/
@font-face {
  font-family: 'ProximaNova-thin-italic';
  src: url('../fonts/proxima-nova/thin-italic/ProximaNova-ThinIt.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova/thin-italic/ProximaNova-ThinIt?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova/thin-italic/ProximaNova-ThinIt.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova/thin-italic/ProximaNova-ThinIt.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova/thin-italic/ProximaNova-ThinIt.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova/thin-italic/ProximaNova-ThinIt.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'icomoon';
  src: url('../icons/icomoon.eot?p66mpa');
  src: url('../icons/icomoon.eot?p66mpa#iefix') format('embedded-opentype'), url('../icons/icomoon.ttf?p66mpa') format('truetype'), url('../icons/icomoon.woff?p66mpa') format('woff'), url('../icons/icomoon.svg?p66mpa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-Group-112:before {
  content: "\e900";
}
.icon-Group-121:before {
  content: "\e901";
}
.icon-Group-127 .path1:before {
  content: "\e902";
  color: #5718d0;
}
.icon-Group-127 .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Group-127 .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Group-127 .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Group-128 .path1:before {
  content: "\e906";
  color: #5718d0;
}
.icon-Group-128 .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: #ffffff;
}
.icon-ic_insert_emoticon_24px:before {
  content: "\e908";
}
.icon-ic_mail_outline_24px:before {
  content: "\e909";
}
.icon-ic_playlist_add_check_24px:before {
  content: "\e90a";
}
.icon-logo:before {
  content: "\e90b";
}
.purple {
  color: #5718D0;
}
.blue {
  color: #17BDFF;
}
.gray {
  color: #95989A;
}
.white {
  color: #ffffff;
}
.bg-purple {
  background: #5718D0;
}
.bg-blue {
  background: #17BDFF;
}
.bg-gray {
  background: #95989A;
}
.bg-white {
  background: #ffffff;
}
.main-gradient {
  background: linear-gradient(135deg, #17BDFF 20%, #6F68F9 80%);
}
.grey-gradient {
  background: linear-gradient(180deg, #f8f8f8 20%, #ffffff 80%);
}
h1 {
  color: #ffffff;
  font-family: 'ProximaNova-semibold', Arial;
  max-width: 1000px;
  margin: 20px auto;
}
h2 {
  font-family: 'ProximaNova-bold', Arial;
  margin: 20px auto;
}
h3 {
  font-family: 'ProximaNova-semibold', Arial;
}
.text-center {
  text-align: center;
}
strong {
  font-family: 'ProximaNova-bold', Arial;
}
input[type="text"],
input[type="email"],
textarea {
  padding: 15px 20px 15px 60px;
  border: 0;
  border-radius: 33px;
  font-family: 'ProximaNova-semibold', Arial;
  display: inline-block;
  font-size: 16px;
  min-width: 300px;
  color: #000000;
  margin-bottom: 20px;
}
div[class*="span-"] > input,
div[class*="span-"] > textarea {
  width: 100%;
}
textarea {
  min-height: 300px !important;
}
input[type="submit"] {
  padding: 10px;
  font-family: 'ProximaNova-semibold', Arial;
  display: inline-block;
  min-width: 300px;
  background: linear-gradient(135deg, #17BDFF 20%, #6F68F9 80%);
  color: #ffffff;
  border-radius: 60px;
  border: 12px solid #9fc4f9;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.23);
}
.input-email {
  background: url('../img/email.svg') no-repeat 25px center #ffffff;
  background-size: 20px;
}
.input-name {
  background: url('../img/emoticon.svg') no-repeat 25px center #ffffff;
  background-size: 20px;
}
.input-message {
  background: url('../img/text.svg') no-repeat 25px 15px #ffffff;
  background-size: 20px;
}
.banner-wrapper {
  vertical-align: middle;
}
.banner-wrapper > div {
  padding: 51px 8%;
  display: inline-block;
}
.banner-wrapper p {
  color: #ffffff;
  font-weight: 600;
}
.banner-wrapper span[class*="icon-"] {
  color: #ffffff;
  font-size: 90px;
}
.banner-fb {
  background: url('../img/fb.png') no-repeat;
  height: 192px;
}
.banner-insta {
  background: url('../img/insta.png') no-repeat;
  height: 192px;
}
html {
  height: 100%;
}
body {
  font-family: 'ProximaNova-regular', Arial;
  font-size: 16px;
  height: 100%;
}
.top-section {
  background: linear-gradient(135deg, #17BDFF 20%, #6F68F9 80%);
  color: #ffffff;
  text-align: center;
  min-height: 800px;
}
.top-section.full-page {
  height: 100%;
}
.top-section header {
  padding: 20px 0;
}
.top-section header .logo {
  font-size: 45px;
}
.top-section header .facebook-logo {
  float: right;
  margin-right: 10px;
}
.top-section header .facebook-logo span {
  font-size: 40px;
}
.top-section header .instagram-logo {
  float: right;
}
.top-section header .instagram-logo span {
  font-size: 40px;
}
.top-section .sub-headline {
  margin: 0 auto;
  max-width: 690px;
  font-size: 18px;
  line-height: 1.25;
}
.pg-section {
  padding: 40px 0;
}
.main-footer {
  background-color: #242f43;
  text-align: center;
  color: #95989A;
  padding: 30px;
}
.mockup-img {
  display: block;
  margin: 0 auto;
  width: auto;
}
.bordered input:not([type="submit"]),
.bordered textarea {
  border: 2px solid #d3d3d3;
}
.top-section p {
  padding: 45px 0 0 0;
}
.section-2 h2 {
  margin-bottom: 30px;
}
.section-2 p {
  max-width: 980px;
  margin: 0 auto;
}
.section-3 {
  background: linear-gradient(180deg, #f8f8f8 20%, #ffffff 80%);
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section-3 .container {
    width: 800px;
  }
  .mockup-img {
    max-width: 660px;
  }
}
@media screen and (max-height: 600px) {
  .mockup-img {
    max-height: 300px;
  }
}
